.foxy_fit-theme {
          --color-brand-color: #d35d5d;
  --color-white: #ffffff;
  --color-black: #000000;
  --space-xs: 2;
  --space-sm: 4;
  --space-md: 8;
  --space-lg: 16;
  --space-xl: 32;
      }